version: '3.8'

# 공통 로봇 설정 템플릿
x-robot-template: &robot-template
  image: osrf/ros:humble-desktop # (팀에서 쓰는 ROS 버전에 맞게 foxy 등으로 변경 가능)
  privileged: true # 권한 풀기
  environment:
    - ROS_DOMAIN_ID=0
  volumes:
    # Mac의 작업 폴더를 도커 가상 PC 내부에 실제 로봇 경로와 똑같이 마운트 (동기화)
    - /Users/mingyu/Workspace/INHA:/home/booster/Workspace/GUI
  command: >
    bash -c "
    apt-get update && apt-get install -y openssh-server sudo python3-pip net-tools &&
    useradd -rm -d /home/booster -s /bin/bash -g root -G sudo -u 1000 booster &&
    echo 'booster:1234' | chpasswd &&
    mkdir /var/run/sshd &&
    /usr/sbin/sshd -D
    "

services:
  robot1:
    <<: *robot-template
    container_name: robot1_sim
    hostname: robot1
    ports:
      - "2201:22"  # Mac의 2201 포트 -> 가상 로봇 1의 SSH(22번)로 연결
    environment:
      - ROS_DOMAIN_ID=0
      - ROS_NAMESPACE=/robot1 # ROS 네임스페이스 자동 부여

  robot2:
    <<: *robot-template
    container_name: robot2_sim
    hostname: robot2
    ports:
      - "2202:22"  # Mac의 2202 포트 -> 가상 로봇 2의 SSH(22번)로 연결
    environment:
      - ROS_DOMAIN_ID=0
      - ROS_NAMESPACE=/robot2
